ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}
div.flexBot {
    width: 20%;
    display: flex;

}
div.flexBot figure {
    Flex: 1;
    background: /*#EFD6F6*/ white;
    ;
}
img {

    width: 20%;
    margin-right:50%;
    background:black;

}
figcaption {
    text-align:center;
    color:red;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111111;
}
